.header h1{
    text-align: center;
}
.header p{
    text-align: right;
    padding-right: 100px
}

.header{
    border-style: solid;
    padding: 1%;
}

.hero {
    overflow: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 50px  ;
}

.contact, #contact-ahref{
    float: left;
    width: 30%;
    text-align: right;
    line-height: 0.25em;   
}

.about {
    text-align: left;
    width: 60%;
    float: right;
    padding: 0 20px;
    text-transform: capitalize;
}

h5 {
    letter-spacing: 7px;
    text-align: center;
}

h5:hover {
    color: black;
    cursor: progress;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 14px;
    transition: 0.5s;
}

.public-profiles {
    clear: both;
    padding-top: 20px;
    text-align: center;
}

ul{
    display: inline;
    margin: 0 15px;
    list-style: square;
}

a {
    text-decoration: none;
    color: blue;
}