.header h1{
    text-align: center;
}
.header p{
    text-align: right;
    padding-right: 15%;
}

.header{
    padding: 1%;
}

.hero {
    text-align: center;
    background: rgba(0, 0, 0, 0.089);
    border-style: solid;

}

h5:hover + .hero {
    animation: glow 0.8s ease-in-out 0.2s forwards;
}

@keyframes glow {
  0%   { box-shadow: 0 0 0px rgba(0, 0, 0, 0); }
  100% { box-shadow: 0 0 12px rgb(0, 0, 0); }
}



.about {
    padding: 0 2% 0 2%;
}

asdasdasd



.public-profiles {
    text-align: right;
    padding: 0% 15% 0% 10%;
}

ul{
    list-style: none;
}